doctype html
html
    head
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1")
        title 1day 1drawing
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    body
        script(src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous")
        -if(!user){
            li Login
            <!--a(href="/user/login") login-->
            <!--p-->
            <!--a(href="/auth/facebook") 페이스북으로 로그인-->
            p
            a(href="/auth/google") 구글로 로그인
        -} else{
            -if(!user.nickname){
                li 닉네임을 설정해 주세요.
                form(action="/user/setnickname" method='post')
                    p
                    input(type="text" name='nickname' placeholder='닉네임')
                    p
                    input(type="submit")
            -} 
            p 안녕하세요! #{user.nickname}
            p 당신의 그림력 : #{user.level} 력
            p 경험치 : #{user.exp}
            li 로그아웃
            p
            a(href="/user/logout") 로그아웃 하기
        -}

        li Create Drawing Board
            -if(!user){
                p
                a(href="/user/login") 로그인을 먼저 해주세요!
            -} else if (!user.nickname) {
                   p 닉네임을 먼저 지정해 주세요!
            -} else {
                p  
                form(action="/upload_images" method="post" enctype="multipart/form-data")
                    input(type="text" name="title" placeholder="title")
                    p
                    input(type="file" name="image_name" accept="image/*")
                    p
                    input(type="text" name="content" placeholder="content")
                    p
                    input(type="submit")
            -}
        li Drawing Board
            - for(var i = 0; i < drawing_number_max; ++i) {
                p
                    div(class="card" style="width: 18rem; float: left;")
                        img(src=path[i] class="card-img-top")
                        div(class="card-body")
                            h5(class="card-title") #{title[i]}
                            p(class="card-text") #{content[i]}
                            a(href="/drawing_board?drawing_title="+title[i] class="btn btn-primary") GO
            -}