<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/navbar') %>
        <%- include('partials/head') %>
    </head>

    <body>
        <div class="section">
            <div class="header">
                <li>Fund Name : <%= fund.name %></li>
                <li>Fund Desc : <%= fund.desc %></li>
                <li>Fund Type : <%= fund.type %></li>
                <li>Fund Amount : <%= fund.amount %></li>
                <li>Fund Start Date : <%= fund.startDate %></li>
                <li>Fund Status : <%= fund.status %></li>
            </div>
            <div>
                <!-- <a href="/event/update">수정하기</a> -->
                <form action="/fund/funding?fundId=<%= fund.fundId %>" method="POST">
                    <!-- <input type="text" name="email" placeholder="이메일""> -->
                    <input type="text" name="amount" placeholder="기부 금액">
                    <input type="submit">
                </form>
            </div>
        </div>
    </body>
</html>