<html>
    <head>
        <%- include('partials/head') %>
    </head>
    <body>
        <%- include('partials/navbar1') %>
        <div style = "padding: 50px 10px;"></div>
        <section class="page-section portfolio" id="portfolio">
          <div class="container">
              <!-- Portfolio Section Heading-->
              <div class="text-center">
                  <h2 class="page-section-heading text-secondary mb-0 d-inline-block">Fundding LIST</h2>
              </div>
              <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
                </div>
          </div>
        </section>
        <div>
                <% if(user == undefined){ %>
                <div class="page-section-heading text-secondary mb-0 d-inline-block">로그인을 하셔야 글쓰기가 가능합니다.</div>
                <% }else{ %>
                <div style="text-align:center">  
             <a href="/fund/create"><button type="button" class="btn btn-primary btn-lg"  >NEW FUNDDING</button></a>
              </div> 
                 <% } %>
        </div>

                <div class="row">
                  <div style = "padding: 50px 0px 10px 10px;"></div>
                    <% if (funds !== null){funds.forEach((fund)=>{ %>
                        <div class="card" style="width: 18rem; height: 22rem; margin-top: 50px; margin-left: 60px; margin-bottom: 10px;">
                            <img src="images/desk.jpg" class="card-img-top" alt="">
                            <div class="card-body">
                              <h5>펀딩 이름 : <%= fund.name %></a></h5>
                              <p class="card-text">펀딩 목표 금액 : <%= fund.amount %> </p>
                              <p class="card-text">펀딩 설명 : <%= fund.desc %> </p>
                              <center>
                                <a href="/fund/<%= fund.fundId %>" class="btn btn-primary">FUND</a>
                              </center>                  
                            </div>
                      </a>
                    </div>  
                   <!-- <div class="col-lg-4 col-md-6 mb-4">
                     <div class="card h-100">
                       <a href="/fund/<%= fund.fundId %>"><img class="card-img-top" src="images/desk.jpg" alt=""></a>
                             <div class="card-body">
                               <h4 class="card-title"><a href="#"><%= fund.name %></a></h4>
                               <h5>$24.99</h5>
                               <p class="card-text"><%= fund.desc %> </p>
                              </div>
                            <div class="progress">
                             <div class="progress-bar" style="width: 70%;">70%</div>
                            </div>
                    </div> -->
                  <% })} %>
                   </div>
                </div>
        
    </body>
</html>