<html>
    <head>
        <%- include('partials/head') %>
        <link href="css/styles.css" rel="stylesheet">
    </head>

    <body>
        <%- include('partials/navbar') %>
        <div style = "padding: 50px 10px;"></div>
        <div class="section">
            <div class="header">
                <h1> My page </h1> <br>
            </div>

            <div class="profile-section">
                
                    <% if (user.userType == 0) { %>
                        <div class="profile-info" display="inline-block"><p style="font-size: 30px; color:white;"> 기부자 이름: <%= user.email %></p></div>
                    <% } else { %>
                        <div class="profile-info" display="inline-block"><p style="font-size: 30px; color:white;"> 수혜자 이름: <%= user.email %></p></div>
                    <% } %>
                    <br>    
            </div>

            <table class="table">
                <thead>
                  <tr>
                    <th scope="col"> </th>
                    <th scope="col">기부 프로젝트명</th>
                    <th scope="col">기부 날짜</th>
                    <th scope="col">프로젝트 펀딩 현황</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>


            <ul class="nav nav-tabs">
                <li role="presentation" id="my-item-btn" class="active">내가 기부한 JELLY 목록</li>
                <!-- <li role="presentation" id="join-item-btn"><a href="#">현재 진행중인 펀딩</a></li> -->
                <!-- <li role="presentation"><a href="#">완료한 프로젝트</a></li> -->
            </ul>
            

            <div id="my-item">
                <% if (user.myFundingList !== null){user.myFundingList.forEach((fund)=>{ %>
                    <div class="list-group" style="margin-bottom: 0px !important;">
                        <a href="/fund/<%= fund.fundId %>" class="list-group-item">
                            <h4 class="list-group-item-heading"><%= fund.id.name %> </h4>
                            <p class="list-group-item-text"><%= fund.amount %></p>
                        </a>
                    </div>
                <%  })} %>
            </div>

            <!-- <div id="join-item">
                <% //if (items !== null){items.forEach((item)=>{ %>
                    <% //item.applies.forEach((apply)=>{ %>
                        <% //if (apply.author == user.email && apply.status == "matched"){ %>
                            <div class="list-group" style="margin-bottom: 0px !important;">
                                <a href="/items/<%= //item.itemId %>" class="list-group-item">
                                    <h4 class="list-group-item-heading"><%= //item.name %> </h4>
                                    <p class="list-group-item-text"><%= //item.detail %></p>
                                </a>
                            </div>     
                        <% //} %>
                    <% //}) %> 
                <%  //})} %>
            </div> -->
        </div>
    </body>
</html>


<!-- <script>   
    $(document).ready(()=>{
        $("#join-item").hide();
    })
    
    $("#my-item-btn").click(()=>{
        $("#my-item-btn").addClass('active');
        $("#join-item-btn").removeClass('active');
        $("#my-item").show();
        $("#join-item").hide();
    })

    $("#join-item-btn").click(()=>{
        $("#join-item-btn").addClass('active');
        $("#my-item-btn").removeClass('active');
        $("#join-item").show();
        $("#my-item").hide();
    })

</script> -->