<html>
    <head>
        <%- include('partials/head') %>
    </head>
    <body>
        <%- include('partials/navbar') %>
        <div class="section">
            <div class="header">
                <h1>Event</h1>
                <h2>이벤트 목록 리스트가 있는 페이지</h2>
                <div style = "padding: 50px 10px;"></div>
                <% if(user == undefined){ %>
                    <div class="text-muted">로그인을 하셔야 글쓰기가 가능합니다.</div>
                <% }else{ %>
                    <a href="/product/create"><button class="btn btn-info"> 새 펀딩 추가하기</button></a>
                <% } %>
            </div>

            <div class="row">
                <% if (products !== null){products.forEach((product)=>{ %>
                <div class="col-lg-4">
                    <a href="/product?productId=<%= product.productId %>">
                        <div class="card">
                            <div class="card-image"></div>
                            <div class="card-title"><%= product.name %></div>
                            <div class="card-comment"><%= product.desc %> </div>
                        </div>
                    </a>
                </div>
                <%  })} %>
            </div>
        </div>
    </body>
</html>