<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/head') %>
    </head>

    <body>
        <%- include('partials/navbar') %>
        <div class="section">
            <div class="header">
                <li>Evnet Name : <%= event.Name %></li>
                <li>Event Desc : <%= event.Desc %></li>
                <li>Event Type : <%= event.Type %></li>
                <li>Event Amount : <%= event.Amount %></li>
                <li>Event Start Date : <%= event.StartDate %></li>
                <li>Event Status : <%= event.Status %></li>
            </div>
        </div>
    </body>
</html>