<!DOCTYPE html>
<html>
<head>
    <%- include ("./head.ejs") %>
</head>
<body>
    <%- include ("./nav.ejs") %>
    <div class="container">
        <h2>게시판</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">번호</th>
                    <th scope="col">제목</th>
                    <th scope="col">작성자</th>
                    <th scope="col">조회수</th>
                    <th scope="col">댓글 수</th>
                    <th scope="col">좋아요</th>
                    <th scope="col">편집</th>
                </tr>
            </thead>
            <tbody>
                <% posts.forEach(function(post, index){ %>
                    <tr>
                        <th scope="row"><%= index + 1 %></th>
                        <td>
                            <a href="/post/<%= post.post_id %>">
                                <%= post.title %>
                            </a>
                        </td>
                        <td><%= post.email %></td>
                        <td><%= post.view_count %></td>
                        <td><%= post.comment_count %></td>
                        <td>
                            <% if (post.user_id != user.id) { %>
                                <a href="/post/like/<%= post.post_id %>/<%= post.likes %>">
                                    <i class="far fa-thumbs-up"></i>
                                </a>
                            <% } else { %>
                                <i class="fas fa-thumbs-up"></i>
                            <% } %>
                            <%= post.likes %>
                        </td>
                        <td>
                            <% if (post.user_id == user.id) { %>
                                <a href="/post/edit/<%= post.post_id %>">
                                    <i class="fas fa-pen" style="font-size: 24px;"></i>
                                </a>
                                <a href="/post/delete/<%= post.post_id %>">
                                    <i class="fas fa-trash-alt" style="color: red; font-size: 24px;"></i>
                                </a>
                            <% } %>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
        
        <a href="/posts/create">
            <button type="button" class="btn btn-primary">+ New</button>
        </a>
    </div>
</body>
</html>